@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/Banny-LightRound.woff") format("woff"), url("../fonts/Banny-LightRound.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Banny";
  font-display: swap;
  src: url("../fonts/Banny-Round.woff") format("woff"), url("../fonts/Banny-Round.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider__item {
  position: relative;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .item-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-height: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .item-text .container {
  padding: 50px;
}

.slider .item-text__title {
  color: #fff;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  padding: 0 10% 0 0;
  display: block;
}

.slider .item-text__subtitle {
  color: #fff;
  font-size: 45px;
  line-height: 80px;
  padding: 0 0 0 10%;
  display: block;
}

.slider .slick-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  padding: 10px 10px;
  line-height: 0;
}

.slider .slick-dots li.slick-active button {
  background-color: #FFFFFF;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

iframe {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.inverted {
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  white-space: nowrap;
}

.lines::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  width: 850px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.lines::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 50%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.lines_main::after {
  top: 200px;
}

.lines_full::before {
  top: 0;
}

.lines_full::after {
  top: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.header__logo {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 10;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header__body {
  position: relative;
}

.menu-header__body::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-header__link {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: block;
  position: relative;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
}

.menu-header__burger {
  display: none;
}

.fixed {
  background: rgba(0, 0, 0, 0.8);
  height: 70px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.fixed .menu-header__link {
  line-height: 70px;
}

.fixed .menu-header__list li {
  height: 70px;
  line-height: 70px;
}

.fixed .menu-header__body::after {
  background: none;
}

.fixed .menu-header__link::after {
  bottom: 20px;
}

.fixed .header__logo {
  top: 10px;
}

.fixed .header__logo img {
  width: 50px;
}

.main-screen {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat fixed bottom;
  background-size: cover;
  min-height: 575px;
}

.main-content {
  min-height: 100%;
  height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.main-content__time {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}

.main-content__social {
  position: absolute;
  top: 50%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content__arrow {
  position: absolute;
  display: block;
  bottom: 100px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-content__arrow span {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #E8C300;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-content__arrow:hover span {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.main-content__arrow::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  top: -10px;
  left: -10px;
}

.main-content__arrow::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../img/svg/arrow.svg) no-repeat;
  background-position: 50% 20%;
  z-index: 2;
  -webkit-animation: arrow 1000ms infinite ease-in-out;
          animation: arrow 1000ms infinite ease-in-out;
}

.content-info {
  text-align: center;
}

.content-info__subtitle {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.content-info__btn {
  margin-top: 30px;
}

.content-info__btn a {
  margin: 0 20px 10px;
}

.page-text {
  text-align: center;
  max-width: 600px;
}

.page-text__header {
  position: relative;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .5em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.page-text__header_hight {
  padding: 43px 0;
}

.page-text_color-white {
  color: #FFFFFF;
}

.page-text__title {
  position: relative;
  font-family: "Banny";
  text-transform: uppercase;
  font-size: 36px;
  line-height: 48px;
  padding: 10px 0;
}

.page-text__title_big {
  font-size: 96px;
  line-height: 1;
  padding: 22px 0;
}

.page-text__title::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.page-text__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding: 10px 0;
}

.page-text__info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 10px 0;
}

.page-text__buttom {
  color: rgba(51, 51, 51, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 43px 0;
}

.page-text__buttom_white {
  color: rgba(255, 255, 255, 0.5);
}

.page-text_center {
  margin: 0 auto;
}

.btn {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  display: inline-block;
  color: #FFFFFF;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  position: relative;
}

.btn_bg {
  border: 1px solid #E8C300;
  z-index: 5;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn_bg::before {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 5px;
  top: -1px;
  left: -1px;
  background: #E8C300;
  border: 1px solid #E8C300;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  z-index: -1;
}

.btn_bg:hover {
  background: none;
}

.btn_bg:hover::before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  top: 50%;
  height: 0;
  background: none;
}

.btn_full {
  width: 100%;
}

.btn_full:hover {
  color: #E8C300;
}

.btn_none {
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 5;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn_none::before {
  content: '';
  position: absolute;
  width: calc(100% + 2px);
  height: 0;
  border-radius: 5px;
  top: 50%;
  left: -1px;
  background: #E8C300;
  border: 1px solid #E8C300;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
}

.btn_none:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  top: -1px;
  height: calc(100% + 2px);
}

.social__link {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  position: relative;
}

.social__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-radius: 50%;
  top: 50%;
  left: 0;
  background: #E8C300;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.social__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.social__link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  top: 0;
  height: 100%;
}

.social__link_facebook::after {
  background: url(../img/svg/facebook.svg) no-repeat center;
}

.social__link_twitter::after {
  background: url(../img/svg/twitter.svg) no-repeat center;
}

.social__link_instagram::after {
  background: url(../img/svg/instagram.svg) no-repeat center;
}

.page__about {
  padding: 100px 0 0 0;
}

.page__team {
  padding: 100px 0 0 0;
}

.page__booking {
  padding: 100px 0 0 0;
}

.page__menu {
  padding: 100px 0 0 0;
}

.page__events {
  background: url(../img/bg1.jpg) no-repeat center;
  background-size: cover;
  margin-top: 100px;
  position: relative;
}

.page__contact {
  padding: 100px 0 0 0;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__row_slider {
  padding: 0 0 100px 0;
}

.content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__column_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page-image_right {
  position: relative;
  padding: 0 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-image_left {
  position: relative;
  padding: 0 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-image__item {
  position: relative;
  width: 475px;
  height: 475px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.page-image__item img {
  width: 100%;
  height: 100%;
}

.page-image__item::after {
  position: absolute;
  content: '';
  top: 50%;
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  border-radius: 5px;
}

.page-image__item span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-family: "Banny";
  font-size: 24px;
  text-transform: uppercase;
  padding: 30px 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.page-image__item span::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-image__item_left::after {
  left: -50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.page-image__item_left span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-image__item_left span::before {
  z-index: -1;
}

.page-image__item_right::after {
  right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-image__item_right span {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.page-image__item_right span::before {
  z-index: -1;
}

.team-page__bg {
  background: url(../img/bg3.jpg) no-repeat center;
  background-size: cover;
  padding: 0 0 100px 0;
  position: relative;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 10px;
}

.booking-form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
  margin: 5px;
  max-width: calc(50% - 10px);
}

.booking-form input {
  font-size: 14px;
  line-height: 19px;
  background: #E5E5E5;
  border-radius: 5px;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  margin: 5px 0;
}

.booking-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.booking-form input:focus::-moz-placeholder {
  color: transparent;
}

.booking-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.booking-form input:focus::-ms-input-placeholder {
  color: transparent;
}

.booking-form input:focus::placeholder {
  color: transparent;
}

.booking-form select {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  border-radius: 5px;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  margin: 5px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.5);
  background: #E5E5E5 url(../img/svg/arrow.svg) no-repeat right 20px center;
}

.booking-form select:focus,
.booking-form select:hover {
  color: #000;
  background: #E5E5E5 url(../img/svg/arrow-black.svg) no-repeat right 20px center;
}

.booking-form__button {
  margin: 5px;
}

.delicious-menu__links {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delicious-menu__link {
  display: inline-block;
  width: 120px;
  line-height: 50px;
  color: #333333;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.delicious-menu__link.active {
  color: #E8C300;
}

.delicious-menu__link:last-child {
  border-right: none;
}

.delicious-menu__link:hover {
  color: #E8C300;
}

.delicious-menu__tabs {
  margin-top: 50px;
}

.delicious-menu__list {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  opacity: 0;
}

.delicious-menu__list.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1 !important;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: selected 300ms 1 ease-in-out;
          animation: selected 300ms 1 ease-in-out;
}

.list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 10px 20px;
  max-width: 33.333%;
}

.list-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item__title {
  font-family: Banny;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.list-item__title span {
  padding: 0 10px;
}

.list-item__subtitle {
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
}

.list-item__price {
  font-family: Banny;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
  padding-left: 10px;
}

@-webkit-keyframes selected {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes selected {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes arrow {
  0% {
    background: url(../img/svg/arrow.svg) no-repeat;
    background-position: 50% 40%;
  }

  50% {
    background: url(../img/svg/arrow.svg) no-repeat bottom;
    background-position: 50% 60%;
  }

  100% {
    background: url(../img/svg/arrow.svg) no-repeat bottom;
    background-position: 50% 40%;
  }
}

@keyframes arrow {
  0% {
    background: url(../img/svg/arrow.svg) no-repeat;
    background-position: 50% 40%;
  }

  50% {
    background: url(../img/svg/arrow.svg) no-repeat bottom;
    background-position: 50% 60%;
  }

  100% {
    background: url(../img/svg/arrow.svg) no-repeat bottom;
    background-position: 50% 40%;
  }
}

.galery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}

.galery__image {
  padding: 50%;
}

.galery__image a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.galery__image a::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(80, 80, 80, 0.5);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.galery__image a:hover::before {
  visibility: visible;
  opacity: 1;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 10px;
}

.contact-form input {
  font-size: 14px;
  line-height: 19px;
  background: #E5E5E5;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333% - 10px);
          flex: 0 1 calc(33.333% - 10px);
  padding: 0 20px;
  margin: 5px;
  height: 60px;
}

.contact-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form input:focus::-moz-placeholder {
  color: transparent;
}

.contact-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form input:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-form input:focus::placeholder {
  color: transparent;
}

.contact-form textarea {
  font-size: 14px;
  line-height: 19px;
  background: #E5E5E5;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  height: 120px;
  width: 100%;
}

.contact-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form textarea:focus::-moz-placeholder {
  color: transparent;
}

.contact-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact-form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact-form textarea:focus::placeholder {
  color: transparent;
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form__row_info {
  margin: 5px;
}

.contact-form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.contact-form__column_block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.contact-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form__info span {
  position: relative;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px 0 0;
}

.contact-form__info span.map::before {
  content: '';
  background: url(../img/svg/maps-and-flags.svg) no-repeat center;
  margin: 0 5px 0 0;
  padding: 0 7px;
}

.contact-form__info span.mail::before {
  content: '';
  background: url(../img/svg/email.svg) no-repeat center;
  margin: 0 5px 0 0;
  padding: 0 7px;
}

.contact-form__info span.phone::before {
  content: '';
  background: url(../img/svg/call.svg) no-repeat center;
  margin: 0 5px 0 0;
  padding: 0 7px;
}

.footer {
  padding: 100px 0 0 0;
}

.footer__copyright {
  text-align: center;
  font-size: 12px;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.9);
}

@media (min-width: 1200px) {
  .menu-header__list li {
    width: 133px;
  }

  .menu-header__link {
    padding: 0;
  }

  .menu-header__link::after {
    content: '';
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #E8C300;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .menu-header__link:hover::after {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .inverted {
    padding: 0 10px;
  }

  .main-content__social {
    padding: 0 20px 0 0;
  }

  .page-image__item {
    width: 375px;
    height: 375px;
  }

  .page-image__item::after {
    width: 200px;
    height: 200px;
  }

  .page-image__item_left::after {
    left: -40%;
    -webkit-transform: translate(40%, -50%);
        -ms-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }

  .page-image__item_right::after {
    right: -40%;
    -webkit-transform: translate(-40%, -50%);
        -ms-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
}

@media (max-width: 1290px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .menu-header__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 100px 0 0;
  }

  .menu-header__body:nth-child(2) {
    margin: 0 0 0 100px;
  }

  .menu-header__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1050px) {
  .lines::before {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .slider .item-text__title {
    font-size: 40px;
    line-height: 40px;
  }

  .slider .item-text__subtitle {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 1023px) {
  .page-text__title_big {
    font-size: 72px;
  }

  .page__about {
    padding: 50px 0 0 0;
  }

  .page__team {
    padding: 50px 0 0 0;
  }

  .page__booking {
    padding: 50px 0 0 0;
  }

  .page__menu {
    padding: 50px 0 0 0;
  }

  .page__events {
    margin-top: 50px;
  }

  .page__contact {
    padding: 50px 0 0 0;
  }

  .content__row {
    display: block;
  }

  .content__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-image_right {
    padding: 20px 0 0 0;
  }

  .page-image_left {
    padding: 0 0 20px 0;
  }

  .team-page__bg {
    padding: 0 0 70px 0;
  }

  .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 50%;
  }

  .contact-form__row_info {
    display: block;
  }

  .contact-form__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-form__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact-form__info span {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .lines::before {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .header__logo {
    top: 10px;
  }

  .header__logo img {
    width: 50px;
  }

  .header {
    height: 70px;
  }

  .header::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  .menu-header {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .menu-header.open {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  .menu-header__body {
    margin: 0;
    padding: 70px 0 0 0;
  }

  .menu-header__body:nth-child(2) {
    margin: 0;
    padding: 0;
  }

  .menu-header__body::after {
    content: none;
  }

  .menu-header__list {
    display: block;
  }

  .menu-header__link {
    line-height: 70px;
  }

  .menu-header__burger {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 20px;
    margin: 25px 10px;
    z-index: 10;
    cursor: pointer;
  }

  .menu-header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-header__burger::before,
  .menu-header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-header__burger::before {
    top: 0;
  }

  .menu-header__burger::after {
    bottom: 0;
  }

  .menu-header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu-header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main-content__social {
    display: block;
    top: 70px;
    left: 0;
    text-align: center;
    padding: 20px 0 0 0;
  }

  .main-content {
    margin-top: 30px;
  }

  .page-text__title_big {
    font-size: 52px;
    padding: 22px;
  }

  .social__link {
    margin: 10px;
  }

  .page-image__item span {
    font-size: 18px;
  }

  .page-image__item span::before {
    height: 75px;
  }

  .booking-form__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 10px);
            flex: 0 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
    margin: 0 5px;
  }

  .delicious-menu__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .delicious-menu__link {
    border: none;
    width: auto;
    line-height: 1;
    padding: 10px 20px;
    margin: 5px;
    background: #e5e5e5;
    border-radius: 5px;
  }

  .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .contact-form input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contact-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .main-content__arrow {
    bottom: 50px;
  }

  .page-image__item {
    width: 275px;
    height: 275px;
  }

  .page-image__item::after {
    width: 150px;
    height: 150px;
    border: 10px solid #E8C300;
  }
}

@media (max-width: 460px) {
  .slider .item-text__title {
    font-size: 24px;
    line-height: 24px;
  }

  .slider .item-text__subtitle {
    font-size: 18px;
    line-height: 18px;
  }
}

@media (max-width: 424px) {
  .page-text__title {
    font-size: 24px;
  }

  .page-text__title_big {
    font-size: 52px;
    padding: 22px;
  }

  .page-text__subtitle {
    font-size: 14px;
  }

  .page-image__item {
    width: 175px;
    height: 175px;
  }

  .page-image__item::after {
    width: 100px;
    height: 100px;
  }

  .page-image__item span {
    font-size: 12px;
    padding: 15px 10px;
  }

  .page-image__item span::before {
    height: 40px;
  }

  .list-item__title {
    font-size: 16px;
    line-height: 16px;
  }

  .list-item__price {
    font-size: 16px;
    line-height: 16px;
  }
}